@model Business.DTO.BookViewModel

@using (Ajax.BeginForm("CreateBook", "Admin", null, new AjaxOptions {UpdateTargetId = "target", HttpMethod = "POST", LoadingElementId = "loaderDiv"}, new {role = "form", id = "frmCreateBook"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Lägg till bok</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Title, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImagePath, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImagePath, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ImagePath, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Isbn, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Isbn, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Isbn, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LanguageId, "LanguageId", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("LanguageId", null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.LanguageId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PublishingDate, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.PublishingDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.PublishingDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PublisherId, "PublisherId", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("PublisherId", null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.PublisherId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BgColor, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.BgColor, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.BgColor, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TextColor, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.TextColor, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.TextColor, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TextColorSecond, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.TextColorSecond, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.TextColorSecond, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SeriesId, "SeriesId", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("SeriesId", null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.SeriesId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SeriesPartId, "SeriesPartId", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("SeriesPartId", null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.SeriesPartId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDate, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.CreateDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdateDate, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpdateDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.UpdateDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsRead, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsRead)
                    @Html.ValidationMessageFor(model => model.IsRead, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>