@model Entities.AuthorModel

@using (Ajax.BeginForm(actionName: "EditAuthor", controllerName: "Admin", routeValues: null,
    ajaxOptions: new AjaxOptions { UpdateTargetId = "target", HttpMethod = "POST", LoadingElementId = "loaderDiv" },
    htmlAttributes: new { role = "form", id = "frmEditAuthor" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AuthorModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spara" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Ajax.ActionLink(linkText: "Tillbaka",
            actionName: "AuthorList", controllerName: "Admin", routeValues: null,
            ajaxOptions: new AjaxOptions
            {
                UpdateTargetId = "target",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "loaderDiv",
                OnFailure = "showXHRError"
            },
            htmlAttributes: new { id = "Back" })
</div>
