@model IEnumerable<Business.DTO.PersonViewModel>

<div class="spacer"></div>
<p>

    @Ajax.ActionLink("Lägg till uppläsare", "AddReader", "Admin", null, new AjaxOptions
    {
        UpdateTargetId = "target",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loaderDiv",
        OnFailure = "showXHRError"
    }, new {id = "AddReader"})
</p>
<table class="table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                @Ajax.ActionLink("Ändra", "EditReader", "Admin", new {id = item.Id}, new AjaxOptions
                {
                    UpdateTargetId = "target",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "loaderDiv",
                    OnFailure = "showXHRError"
                }, new {id = "EditReader"})

                |

                @Ajax.ActionLink("Radera", "DeleteReader", "Admin", new {id = item.Id}, new AjaxOptions
                {
                    UpdateTargetId = "target",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "loaderDiv",
                    OnFailure = "showXHRError"
                }, new {id = "DeleteReader"})
            </td>
        </tr>
    }
</table>