@model IEnumerable<Entities.SeriesModel>
<div class="spacer"></div>
<p>
    @Ajax.ActionLink(linkText: "Lägg till serie",
            actionName: "AddSerie", controllerName: "Admin", routeValues: null,
            ajaxOptions: new AjaxOptions
            {
                UpdateTargetId = "target",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "loaderDiv",
                OnFailure = "showXHRError"
            },
            htmlAttributes: new { id = "AddSeries" })


</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Ajax.ActionLink(linkText: "Ändra",
            actionName: "EditSerie", controllerName: "Admin", routeValues: new { id = item.Id },
            ajaxOptions: new AjaxOptions
            {
                UpdateTargetId = "target",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "loaderDiv",
                OnFailure = "showXHRError"
            },
            htmlAttributes: new { id = "EditSeries" })

            |

            @Ajax.ActionLink(linkText: "Radera",
            actionName: "DeleteSerie", controllerName: "Admin", routeValues: new { id = item.Id },
            ajaxOptions: new AjaxOptions
            {
                UpdateTargetId = "target",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "loaderDiv",
                OnFailure = "showXHRError"
            },
            htmlAttributes: new { id = "DeleteSeries" })


        </td>
    </tr>
}

</table>
