@using System.Configuration;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ConfigurationManager.AppSettings["appName"]</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top no-margin">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-rocket fa-4"></i> LJUDBÖCKER</a>
        </div><!-- navbar-header-->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2">Lista serier</button></li>
                <li class="active"><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-3">Lista författare </button></li>
                <li class="active"><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-4">Lista uppläsare</button></li>
            </ul>

            <div class="pull-right">
                @using (Ajax.BeginForm(actionName: "Search", controllerName: "Home", routeValues: null,
                ajaxOptions: new AjaxOptions { UpdateTargetId = "target", HttpMethod = "POST" },
                htmlAttributes: new { @class = "navbar-form", role = "search", id = "NAME" }))
                {  
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Sök författre eller titel" name="search" id="search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>

                }
            </div>
        </div><!-- bs-example-navbar-collapse-1 -->
    </nav>
    <div id="wrapper" class="sidebar-hide">
        <!-- Sidebar -->
        @{Html.RenderAction("Series", "Sidebar");}
        @{Html.RenderAction("Authors", "Sidebar");}
        @{Html.RenderAction("Readers", "Sidebar");}
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <div id="footer" class="container">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="navbar-inner navbar-content-center">

                <p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
            </div>
        </nav>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>